.heading{
    font-size: 62px;
    font-variant-caps: petite-caps;
    font-weight: 700;
    text-align-last: center;
}

.subheading{
    font-size: 50px;
    font-variant-caps: petite-caps;
    font-weight: 700;
    text-align-last: center;
    margin-bottom: 73px;
}

.center-body{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.Destination-select{
    width: 100%;
}

.Parent_Card {
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    justify-content: space-evenly;

}
.Planet_card {
    height: 15rem;
    width: 15rem;

}
.PlanetsAndVehicles{
    display: flex;
    flex-flow: column;
}

.button{
    
}