.heading{
    font-size: 62px;
    font-variant-caps: petite-caps;
    font-weight: 700;
    text-align-last: center;
}


.Parent_Card {
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    justify-content: space-evenly;

}


.Planet_card {
    height: 15rem;
    width: 15rem;

}