.navbar {
    background-color: darkturquoise;
    width: 100%;
    display: flex;
    flex-basis: max-content;
    justify-content: center;
    
}

.MuiButton-root{
    margin-top: 2rem;
}

li.nav-item{
    margin-top: 1rem;
    justify-content: space-around;
}

.heading{
    font-size: 5vw;
    font-variant-caps: petite-caps;
    font-weight: 700;
    text-align-last: center;
  }