.Result-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14rem;
}
.result-partone{
    font-size: 2vw;
    font-family: cursive;
}

.result-parttwo{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    font-size: 1vw;
    font-family: cursive;
    margin-bottom : 3rem;
}
