
.heading{
  font-size: 5vw;
  font-variant-caps: petite-caps;
  font-weight: 700;
  text-align-last: center;
}

.subheading{
  font-size: 3vw;
  font-variant-caps: petite-caps;
  font-weight: 700;
  text-align-last: center;
  margin-bottom: 73px;
}
.submit-button{
  width: 100%;
  text-align: -webkit-center;
  margin-top: 25px;
}

.time-taken{
  font-family: cursive;
  height: 100%;
}