.Header {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 80px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.body-header {
  display: flex;
  justify-content: center;
  font-size: 50px;
  padding-top: 3%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.Destination_card {
  height : 26rem;
  display: flex;
  flex-direction: row;
}

.each_card {
}

.destination_vehicle {
    padding-top: 3%;
    display: flex;

}

.select-destination {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.input-group {
    border: 1px solid rebeccapurple;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.button {
}

.time-taken{
  font-family: cursive;
}